.App-header{
  text-align: center;
  padding: 40px;
  padding-bottom: 10px;
  font-size: 50px;
  font-weight: 600;
  color: black;
}
.App{
  margin: 20px auto;
  border-radius: 16px;
  background: #edeef7;
  max-width: 700px;
  padding-bottom: 10px;
  color: #484e4f;
}
.Footer{
  text-align: center;
  font-size: 12px;
}